body{
    margin: 0;
    background:#e0f7fa ;
    text-align: center;
    color: #404040;
}
.container{
    margin: 30px auto;
    width: 550px;
    background: #4dd0e1;
    /* display: grid;
    grid-template-rows: 70px auto; */
    border: 5px;
    height: 500px;
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.9), 4px 4px 9px rgba(0, 0, 0, 0.3);
}
h3{
    width: 40px;
    height: 30px;
    font-size: 1.5rem;
    margin: 10px 30px;
    font-family: cursive;
    color: #4c4b4b;
    position: absolute;
    display: none;
}
.bar{
    width: 180px;
    height: 20px;
    background-color: #e0f7fa;
    position: absolute;
    border: #007c91 solid 2px;
    border-radius: 35px;
    margin: 10px 350px;
    display: none;
}
.pgrBar{
    width: 0px;
    height: 19px;
    background-color: #00acc1;
    border-radius: 35px;
    margin: 1px 0px;
}
#wrapper{
    display: none;
}
#start {
    font-size: 3em;
    width: 250px;
    height: 100px;
    margin: 180px auto;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.3);
}
.ques{
    /* background: hotpink; */
    font-size: 1.9em;
    margin: 30px 0px 0px 0px;
}
.answer{
    /* background: brown; */
    margin: 0px 0px 18px 0px;
    height: 250px;
}
.answer>button{
    display: block;
    width: 230px;
    height: 60px;
    font-size: 1.4em;
    color: #575757;
    /* padding: 20px 0px 0px 0px; */
    border: #007c91 solid 2px;
    margin: 30px auto 30px auto;
    text-align: center;
    box-shadow: none;
    border-radius: 30px;
    cursor: pointer;
}
.answer>button:hover{
    background-color: #b2ebf2 ;
    color: #575757;
    transition: 0.3s;
    font-size: 1.6em;
}
.prev{
    margin-left: 0px !important;
}
button{
    display: inline-block;
    margin: 10px 15px;
    border: none;
    width: 80px;
    height: 30px;
    outline: none;
    border-radius: 3px;
    color: #6a6a6a;
    font-size: 15px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}
button:hover{
    transition: 0.5s;
    color: #e6e6e6;
    background-color: #00bcd4; 
}
#result {
    display: none;
    font-size: 2em;
    width: 130px;
    height: 68px;
    margin: 80px auto 20px auto;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.3);
}
#resultDiv{
    width: 380px;
    height: 300px;
    margin: 50px auto;
    font-size: 2em;
    color: #6a6a6a;
}

@media screen and (max-width:550px){
    body{
        margin: 0 !important;
        padding: 0 !important;
        
    }
    .bar{order: 1;}
    .ques{order: 2;}
    .answer{order: 3;}
    button{order: 4;}
    .container{
        background: salmon;
        width: 100% !important;
        height: 100vh !important;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    h3{
        display: none !important;
    }
    .bar{
        margin: 20px 0;
        width: 98%;
        border: #c66c62 solid 3px;
        border-radius: 8px;
        position: fixed;
        top: 0;
    }
    .pgrBar {
        background-color: #ec9990;
        border-radius: 4px;
        height: 20px;
        margin: 0;
    }
    .wrapper{
        margin: auto;
        width: 100% !important;
        flex-wrap: wrap;
    }
    .ques{
        width: 100%;
        /* margin-top: 100px; */
        font-size: 1.5em;
        height: 80px;
    }
    .answer{
        width: 100%;
        height: 290px;
        margin: 0;
        font-size: 1em;
    }
    .answer>button:hover{
        background-color: transparent; 
        border-radius: unset;
    }
    button{
        margin-top: 60px;
        width: 93px;
        height: 45px;
        font-size: 20px;
        border-radius: 7px;
    }
    button:hover{
        background-color: #f76858;
        transition: none;
    }
    #start{
        font-size: 2.5em;
        width: 200px;
        height: 75px;    
        border-radius: 10px;
    }
    #next{
        margin-left: 99px;
    }
    #result{
        position: absolute;
        top: 10px;
        margin-left: 33%;
    }
    #resultDiv{
        margin: 55% 0px 0px 0px;
    }
}